<%= form_with(model: event_instance, local: true) do |form| %>
  <% if event_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_instance.errors.count, "error") %> prohibited this event_instance from being saved:</h2>

      <ul>
        <% event_instance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gamestate_id %>
    <%= form.number_field :gamestate_id %>
  </div>

  <div class="field">
    <%= form.label :level_id %>
    <%= form.number_field :level_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :progress %>
    <%= form.text_field :progress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
