<p id="notice"><%= notice %></p>

<p>
  <strong>Gamestate:</strong>
  <%= @event_instance.gamestate_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @event_instance.level_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_instance.event_id %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @event_instance.progress %>
</p>

<%= link_to 'Edit', edit_event_instance_path(@event_instance) %> |
<%= link_to 'Back', event_instances_path %>
