<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Hero exp:</strong>
  <%= @hero.hero_exp %>
</p>

<p>
  <strong>Hero hp:</strong>
  <%= @hero.hero_hp %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
