<!-- <% provide(:title, "Log in") %> -->
<%= stylesheet_link_tag 'session' %>

<html>
  <head>
    <title>User Login Page</title>
  </head>

  <body>
    <div class='login-container'>
      <div class='login-row-1'>
      <h1>Member Login</h1>
      </div>
      <!-- Log in form-->
      <div>
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <%= f.label :email, class: 'login-form-control-label' %>
          <%= f.email_field :email, class: 'login-form-control-field' %>
          <%= f.label :password , class: 'login-form-control-label'%>
          <%= f.password_field :password, class: 'login-form-control-field' %>
          <%= f.submit "Log in", class: "btn-login" %>
        <% end %>
      </div>
      <!-- New user link-->
      <div class='login-row-3'>
        <h3>Not Registered? <%= link_to "Create an account", signup_path, :class=>'login-row-3' %> </h3>
      </div>
    </div>
  </body>
</html>



<