<!-- <% provide(:title, "Log in") %> -->
<%= stylesheet_link_tag 'session' %>

<html>
  <head>
    <title>User Login Page</title>
  </head>

  <body>
    <div class='container'>
      <h1>Member Login</h1>
      <br>
      <!-- Log in form-->
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit "Log in", class: "btn-login" %>
      <% end %>
      <!-- New user link-->
        <h3>Not Registered?</h3>
        <%= link_to "Create an account", signup_path %></p>
    </div>
  </body>
</html>



<