<%= stylesheet_link_tag 'creategame' %>

<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="cg-container">
  <div class='cg-row-1'>
    <h1>Create New Topic</h1>
  </div>
  <br>
  <div class="field">
      <%= form.label :name, class: 'game-form-control-label' %>
      <%= form.text_field :name,class: 'game-form-control-field' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'game-form-control-label' %>
    <%= form.text_field :description,class: 'game-form-control-field' %>
  </div>

  <div class="field">
      <%= form.label :topictype, class: 'game-form-control-label' %>
      <%= form.select :topictype, Topic::TYPE_LIST, class: 'game-form-control-field' %>
  </div>
 
  <div class="field">
      <%= form.label 'Upload a cover image:', class: 'game-form-control-label'%>
     
      <%= form.file_field :topic_image, class: 'game-form-control-field'%>
  </div>

  <div class="actions">
     <%= form.submit "Add the topic", class: "btn-creategame" %>
  </div>
  </div>
<% end %>

