<!-- <% provide(:title, "Log in") %> -->
<%= stylesheet_link_tag 'session' %>

    <title>Sign Up</title>
    <div class='login-container'>
      <div class='login-row-1'>
      <h1>Sign up</h1>
      </div>
      <!-- Log in form-->
      <div>
        <%= form_with(model: @user, url: signup_path, local: true) do |f| %>
        <%= render 'layouts/error_message' %>
          <%= f.label :name, class: 'login-form-control-label' %>
          <%= f.text_field :name, class: 'login-form-control-field' %>
          <%= f.label :email, class: 'login-form-control-label' %>
          <%= f.email_field :email, class: 'login-form-control-field' %>
          <%= f.label :password , class: 'login-form-control-label'%>
          <%= f.password_field :password, class: 'login-form-control-field' %>
          <%= f.label :password_confirmation , class: 'login-form-control-label'%>
          <%= f.password_field :password_confirmation, class: 'login-form-control-field' %>
          <%= f.submit "Create my account", class: "btn-login wider" %>
        <% end %>
      </div>
      <!-- New user link-->
      <div class='login-row-3'>
        <h3>Already have an account? <%= link_to "Log in!", login_path, :class=>'login-row-3' %> </h3>
      </div>
    </div>



<