<%= stylesheet_link_tag 'createevent' %>
<html>
  <head>
    <title>Create Event</title>
  </head>  
  <body>

<div class="ev-container">
<div class="row">
  <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
     <ul>
       <% event.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
    </div>
  <% end %>
 
  <%= form.hidden_field :game_id, :value => params[:game_id] %>

  
   <%= form.label :name, "Please enter an event name" %>
   <%= form.text_field :name, class: 'form-control' %>
 
   <%= form.label :description, "Enter a description" %>
   <%= form.text_field :description, class: 'form-control' %>
 
   <div class="field">
        <%= form.label :event_image, "Attach an image for this event" %>
        <%= form.file_field :event_image %>
    </div>
    <br>
    <form action="" id="events">
    <div class="field">
        <div class="sel-label">Select an event type:</div> 
        <select name="event_type" id="event_selector" class="event-sel">
          <option value="fight">fight</option>
          <option value="direct" selected>direct</option>
        </select>
    </div>
    <% @json = get_json %>
    <div class="fight_option" style="display:none">
      <label class="fight_option_text">Enemy HP:</label>
      <input type="text" name="enemy_hp" class="fight_option_field" value= <%= @json.try(:[], 'hp') || 0 %> />
      <br>
      <label class="fight_option_text">Damage dealt per attack:</label>
      <input type="text" name="enemy_attack_hp" class="fight_option_field" value= <%= h (@json.try(:[], 'attack').try(:[], 'hp') || 0) %> />
      <br>
      <label class="fight_option_text">Exp loss per attack:</label>
      <input type="text" name="enemy_attack_exp" class="fight_option_field" value= <%= @json.try(:[], 'attack').try(:[], 'exp') || 0 %> />
      <br>
      <label class="fight_option_text">Gold loss per attack:</label>
      <input type="text" name="enemy_attack_gold" class="fight_option_field" value= <%= @json.try(:[], 'attack').try(:[], 'gold') || 0 %> />
      <br> 
      <label class="fight_option_text">HP gained on death:</label>
      <input type="text" name="enemy_death_hp" class="fight_option_field" value= <%= @json.try(:[], 'death').try(:[], 'hp') || 0 %> />
      <br>
      <label class="fight_option_text">EXP dropped on death:</label>
      <input type="text" name="enemy_death_exp" class="fight_option_field" value= <%= @json.try(:[], 'death').try(:[], 'exp') || 0 %> />
      <br>
      <label class="fight_option_text">Gold on death:</label>
      <input type="text" name="enemy_death_gold" class="fight_option_field" value= <%= @json.try(:[], 'death').try(:[], 'gold') || 0 %> />
      <br>
    </div>
    <div class="direct_option">
      <label class="direct_option_text">HP gained or lost:</label>
      <input type="text" name="hp" class="direct_option_field" value= <%= @json.try(:[], 'hp') ||  0 %> />
      <br>
    
      <label class="direct_option_text">Exp gained or lost:</label>
      <input type="text" name="exp" class="direct_option_field" value= <%= @json.try(:[], 'exp') ||  0 %> />
      <br>
      <label class="direct_option_text">Gold gained or lost:</label>
      <input type="text" name="gold" class="direct_option_field" value= <%= @json.try(:[], 'gold') ||  0 %> />
    </div>
    <% @req_json = get_req_json %>
    <br>
    <br>
    <div>
      <div class="section-label">
        Requirements for the event to happen:
        <div class="section-desc">
          Leave blank for no requirements
        </div>
      </div>
      <div>
        <label class="event_req">HP:</label>
        <select name="event_req_hp_operator" id="event_selector" class = "event_selector">
          <option value=">" <%= if (@req_json.try(:[], 'hp').try(:[], 0) == ">") then "selected" end %> > &gt; </option>
          <option value="<" <%= if (@req_json.try(:[], 'hp').try(:[], 0) == "<") then "selected" end %> > &lt; </option>
          <option value="=" <%= if (@req_json.try(:[], 'hp').try(:[], 0) == "=") then "selected" end %> > = </option>
        </select>
        <input type="text" name="event_req_hp" class="event-req-control" value= <%= @req_json.try(:[], 'hp').try(:[], 1..) || 0 %> />
        <br>
      </div>
    <div>
      <label class="event_req">Rank:</label>
      <select name="event_req_rank_operator" id="event_selector" class = "event_selector">
      <option value=">" <%= if (@req_json.try(:[], 'rank').try(:[], 0) == ">") then "selected" end %> > &gt; </option>
      <option value="<" <%= if (@req_json.try(:[], 'rank').try(:[], 0) == "<") then "selected" end %> > &lt; </option>
      <option value="=" <%= if (@req_json.try(:[], 'rank').try(:[], 0) == "=") then "selected" end %> > = </option>
      </select>
      <input type="text" name="event_req_rank" class="event-req-control" value= <%= @req_json.try(:[], 'rank').try(:[], 1..) || 0 %> />
      <br>
    </div>
    <div>
      <label class="event_req">Gold:</label>
      <select name="event_req_gold_operator" id="event_selector" class = "event_selector">
        <option value=">" <%= if (@req_json.try(:[], 'gold').try(:[], 0) == ">") then "selected" end %> > &gt; </option>
        <option value="<" <%= if (@req_json.try(:[], 'gold').try(:[], 0) == "<") then "selected" end %> > &lt; </option>
        <option value="=" <%= if (@req_json.try(:[], 'gold').try(:[], 0) == "=") then "selected" end %> > = </option>
        </select>
        <input type="text" name="event_req_gold" class="event-req-control" value= <%= @req_json.try(:[], 'gold').try(:[], 1..) || 0 %> />
        <br>
    </div>
    <br><br>
  </div>
  
  <%= form.submit "Finish this event and return to dashboard", class: "btn-done"%>
  <br>
  <%= form.submit "Save and make next event", class: "btn-create"%>
   <div>
    <%= link_to 'Back to dashboard', leveldashboard_path(@event.game_id), :class=>'btn-returndash'%>
   </div>
 </div>
<% end %>
</div>

</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
    $("#event_selector").change(function(){ 
        if($("#event_selector").val() == "direct"){
          $(".fight_option").hide('fast');
          $(".fight_option_field").hide('fast');
          $(".fight_option_text").hide('fast');
          $(".direct_option").show('fast');
          $(".direct_option_text").show('fast');
          $(".direct_option_field").show('fast'); 
        }
        else{
          $(".fight_option").show('fast');
          $(".fight_option_field").show('fast');
          $(".fight_option_text").show('fast');
          $(".direct_option").hide('fast');
          $(".direct_option_text").hide('fast');
          $(".direct_option_field").hide('fast');
        }
    });        
});
</script>