<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_with(model: event, local: true) do |form| %>
 <% if event.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
 
     <ul>
       <% event.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 
   <%= form.label(:game_id, "Game ID") %>
   <%= form.text_field :game_id, class: 'form-control' %>
 
   <%= form.label :name %>
   <%= form.text_field :name, class: 'form-control' %>
 
   <%= form.label :description %>
   <%= form.text_field :description, class: 'form-control' %>
 
   <%= form.label :image %>
   <%= form.text_field :image, class: 'form-control' %>
 
   <%= form.label(:result, "Result (please enter result in this format: {hp:number})") %>
   <%= form.text_field :result, class: 'form-control' %>
 
   <%= form.submit "Add event to this level", class: "btn btn-success" %>
     <div>
     <h1>   </h1>
     </div>
   </div>
 </div>
<% end %>

