<%= stylesheet_link_tag 'creategame' %>
<html>
  <head>
    <title>Create Your Game</title>
  </head>

  <body>
    <div class="cg-container">
      <div class='cg-row-1'>
        <h1>Create a New Game</h1>
      </div>
      <br>
      
      <div>
        <%= form_with(model: game, local: true) do |form| %>
          <!-- Validation check -->
          <% if game.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
              <ul>
                <% game.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!-- Input fields-->
          <div>
            <%= form.label 'Enter game name:', class: 'game-form-control-label'%>
            <%= form.text_field :game_name, class: 'game-form-control-field' %>
          </div>
          <div>
            <%= form.label 'Write a brief description of this game:', class: 'game-form-control-label'%>
            <%= form.text_field :description, class: 'game-form-control-field'  %>
          </div>
          <div>
            <%= form.label 'Upload a game image:', class: 'game-form-control-label'%>
            <%= form.file_field :game_image, class: 'game-form-control-field'%>
          </div>
          <!-- Submit Button-->
          <div>
            <%= form.submit "Create This Game", class: "btn-creategame" %>
          </div>
        <% end %>
      </div>

    </div>

  </body>
<html>
