<div class="row">
 <div class="col-md-6 col-md-offset-3">
<%= form_with(model: game, local: true) do |form| %>
 <% if game.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
 
     <ul>
       <% game.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 
 <%= form.label :game_name %>
 <%= form.text_field :game_name, class: 'form-control' %>
 
 <%= form.label :description %>
 <%= form.text_field :description, class: 'form-control'  %>
 
 <div class="field">
        <%= form.label :game_image %>
        <%= form.file_field :game_image %>
   </div>

 
 <%= form.submit "Create the game", class: "btn btn-success" %>
 </div>
</div>
 
<% end %>

