<%= stylesheet_link_tag 'gamecenter' %>
    <%= text_field_tag :search, params[:search]%>
    <div class="gs-container">
      <div class="gs-row-1">
        <h1>Your Games</h1>
      </div>

      <div class="gs-row-2">
      	 <%= render 'userGames'%>
      </div>

      <div class="gs-row-3">
        <h1>Community Games</h1>
      </div>

      <div class="gs-row-4">
      	<%= render 'allGames'%>
      </div>

    </div>
 <%= javascript_pack_tag 'game' %>