<p id="notice"><%= notice %></p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<%= image_tag(@game.game_image) %>
<p>
  <strong>Start level:</strong>
  <%= @game.start_level_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @game.admin_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @game.image_url %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @game.popularity %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
