<p id="notice"><%= notice %></p>

<h1>Gamestates</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Hero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamestates.each do |gamestate| %>
      <tr>
        <td><%= gamestate.user_id %></td>
        <td><%= gamestate.game_id %></td>
        <td><%= gamestate.hero_id %></td>
        <td><%= link_to 'Show', gamestate %></td>
        <td><%= link_to 'Edit', edit_gamestate_path(gamestate) %></td>
        <td><%= link_to 'Destroy', gamestate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamestate', new_gamestate_path %>
