<div id="game-screen" events="<%=@arr%>">
	<img id="background-image" src="<%=@level.image%>"/>
	<div id="hero-info"><div><%=@hero.name%></div><div id="lvl" lvl="<%=@hero_level_info['level']%>">lvl <%=@hero_level_info['level']%></div>
	<div id="gold" gold="<%=@hero['gold']%>">Gold: <%=@hero['gold']%></div>
	<div class="health-bar"><span><%=@hero['hp']%></span><div max="<%=@hero_level_info['maxhp']%>" percent="<%=@hero_level_info['hp%']%>"></div></div>
	<div id="exp-bar"><span exp="<%=@hero_level_info['exp']%>"><%=@hero_level_info['exp']%></span><div max="<%=@hero_level_info['exp_left']%>" percent="<%=@hero_level_info['exp%']%>"></div></div></div>
	<%if @boss!={}%>
	<div id="enemy-info"><div><%=@boss['name']%></div>
	<div class="health-bar"><span><%=@boss['progress']%></span><div max="<%=@boss['hp']%>" percent="<%=((@boss['progress']*100)/@boss['hp']).to_i%>"></div></div>
	</div>
	<img id="enemy" src="<%=@boss['image']%>"/>
	<%end%>
	<img id="hero" src="<%=@hero.image%>"/>
	<div id="doors-holder"></div>
</div>
<div id="bottom">
<div id="description">
	<%= @description %>
</div>
<span id="tip"></span>
</div>
<%= javascript_pack_tag 'game.js' %>