<div id="game-screen">
	<img id="background-image" src="<%=@level.image%>"/>
	<img id="hero" src="<%=@hero.image%>"/>
	<div id="health-bar"><div percent="10"></div></div>
</div>
<div class="boxed">
<p>
	<%= @level.description %>
</p>
</div>
<%= form_with(url: "", method: "get") do %>
  <%= label_tag(:user_input, "Do next:") %>
  <%= text_field_tag(:user_input) %>
  <%= submit_tag("Enter") %>
<% end %>
<%= javascript_pack_tag 'game.js' %>