<%= stylesheet_link_tag 'createlevel' %>
<html>
  <head>
    <title>Create Level</title>
  </head>

  <body>
  <div class= 'cl-container'>
      <div class='cl-row-1'>
        <h1>Create a New Level</h1>
      </div>
      <br>
      
      <div>
        <%= form_with(model: level, local: true) do |form| %>
          <% if level.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>
            <ul>
              <% level.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

        <div>
          <%= form.hidden_field :game_id, :value => params[:game_id] %>
        </div>
        <div>
          <%= form.label:name, "Enter level name:", class: 'level-form-control-label' %>
          <%= form.text_field :name, class: 'level-form-control-field'%>
        </div>
        <div>
          <%= form.label:description, "Write a brief description of this level:", class: 'level-form-control-label' %>
          <%= form.text_field :description ,class: 'level-form-control-field'%>
        </div>
        <div>
            <%= form.label:level_image, "Upload a level image:", class: 'level-form-control-label' %>
            <%= form.file_field :level_image ,class: 'level-form-control-field' %>
        </div>
        <div>
          <%= form.submit "Finish This Level", class: "btn-createlevel" %>
        </div>
        
        <div>
          <%= form.submit "Create Next Level", class: "btn-createlevel" %>
        </div>
        <% end %>
     </div>  <!-- form class -->
  </div> <!-- container class -->
  </body>
<html>