<%= stylesheet_link_tag 'assignevent' %>

<html>
    <head>
        <title> Assign Events</title>
    </head>

    <body>
        <div class="aefo-container">
            <div class="aefo-row-1">
                <h1>Event Assignment</h1>
                <h2>Available Events: </h2>
                <h3>Click to add to the list </h3>
            </div>

            <div class="aefo-row-2">
            <% @level = Level.find_by(id: @level_id) %>
                <% @events = Event.where(game_id: @game_id) %>
                <% @event_names = Array.new %>
                <% if !@events.nil? %>
                    <% @events.each do |event| %>
                        <div class="aefo-row-2-col">
                        <div class="aefo card shadow-lg rounded">
                            <% if event.event_image.blank? %>
                                <%= link_to event.name, queueevent_path(@game_id, @level_id, event.id)%>
                            <% else %>
                                <%= link_to(image_tag(event.event_image, :height =>"120", :width=> "110"), queueevent_path(@game_id, @level_id, event.id)) %>
                            <% end %>
                            <div class="aefo card-body">
                                <h3 class="aefo card-title"><%= event.name%></div>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <h2>You do not have any events </h2>
                    <%= link_to 'Go back and make some events', addevent_path(@game_id) %>
                    <%= link_to 'Back to the dashboard', leveldashboard_path(@game_id) %>
                <% end %>
            </div>

            <div class="aefo-row-3">
                <h2>Current Assignment(order from left to right): </h2>
                <h3>Click to remove from the list </h3>
            </div>

            <div class="aefo-row-2">
                <% @events = ids_to_events(@level) %>
                <% @counter = 0 %>
                <% @events.each do |event| %>
                <div class="aefo-row-2-col">
                    <div class="aefo card">
                        <%= link_to(image_tag(event.event_image, :height =>"120", :width => "110", :class=>"cancelhoverEXP"), dequeueevent_path(@game_id, @level_id, @counter))%>
                        <div class="aefo card-body">
                            <h4 class="aefo card-text"> <%= event.name %></h4>
                        </div>
                    </div>
                </div>
                <% @counter+= 1 %> 
                <% end %>


            
            <%= link_to 'Back to dashboard', leveldashboard_path(@game_id), :class=>"btn-returndash"%>
           

        </div> <!-- aefo container class end-->
    </body>
</html>

