<h1> Assign events to levels </h1>
Here are the levels that need events assigned
<% @unassigned_levels = Level.where(game_id: @game_id, event_id: [nil, "[]", ""]) %>
<% @assigned_levels = Level.where(game_id: @game_id).where.not(event_id: [nil, "[]", ""]) %>
<br>
Levels with assigned events
<br> 
<% @assigned_levels.each do |level| %>
        <% level %>
        <%= link_to level.name, assigneventforone_path(@game_id, level.id) %>
        <% if (level.level_image.attached?) %>
                <%= link_to image_tag(level.level_image, :height =>"47", :width => "70"), assigneventforone_path(@game_id, level.id)  %>
        <% end %>
<% end %>
<br>
Levels without assigned events
<% @unassigned_levels.each do |level| %>
        <% level %>
        <%= link_to level.name, assigneventforone_path(@game_id, level.id) %>
        <% if (level.level_image.attached?) %>
                <%= link_to image_tag(level.level_image, :height =>"47", :width => "70"), assigneventforone_path(@game_id, level.id)  %>
        <% end %>
<% end %>
<br>
<%= link_to 'Back to the dashboard', leveldashboard_path(@game_id) %>

<br>
