<%= stylesheet_link_tag 'dashboard' %>

<body>
	<div class="overall-container">
		<nav class='dash-navbar'>
			<ul>
				<li><a href="#section1">Instruction</a><li>
				<li><a href="#section2">Step 1</a><li>
				<li><a href="#section3">Step 2</a><li>
				<li><a href="#section4">Step 3</a><li>
				<li><a href="#section5">Step 4</a><li>
				<li><a href="#section6">Step 5</a><li>
				<li><a href="#section7">Review</a><li>
			</ul>
		</nav>

		<section id='section1'>
			<h1>Dashboard</h1>
			<h2>This is the dashboard for your game creation</h2>
			<br>
			<h2>Follow these EASY five steps to complete your game!</h2>
			<br>
			<br>
			<div class="db-welcome-container">
				<div class="db-welcome-row">
					<div class='db-welcome-col'>
						<a href="#section2">
						<div class="db-welcome card shadow-lg rounded">
							<%= image_tag("one.png", :height =>"180", :width => "200")%>
							<div class="db-welcome card-body">
								<h5 class="db-welcome card-title"> Add <br> Levels </h5>
								<p class="db-welcome card-text">
								Create some levels as the cornerstones of your game. They are the background environment of your game playing experience.
								</p>
							</div>
						</div>
						</a>
					</div>
					<div class='db-welcome-col'>
						<a href="#section3">
						<div class="db-welcome card shadow-lg rounded">
							<%= image_tag("two.png", :height =>"180", :width => "200") %>
							<div class="db-welcome card-body">
								<h5 class="db-welcome card-title"> Add <br> Events </h5>
								<p class="db-welcome card-text">
								Events are the challenges you will face in each level, including two types: direct and fight.
								</p>
							</div>
						</div>
						</a>
					</div>
					<div class='db-welcome-col'>
						<a href="#section3">
						<div class="db-welcome card shadow-lg rounded">
							<%= image_tag("three.png", :height =>"180", :width => "200") %>
							<div class="db-welcome card-body">
								<h5 class="db-welcome card-title"> Assign <br> Events </h5>
								<p class="db-welcome card-text">
								You mayput any number of events inside of each level. Assignment order represent the order events will appear in each level.
								</p>
							</div>
						</div>
						</a>
					</div>
					<div class='db-welcome-col'>
						<a href="#section4">
						<div class="db-welcome card shadow-lg rounded">
							<%= image_tag("four.png", :height =>"180", :width => "200") %>
							<div class="db-welcome card-body">
								<h5 class="db-welcome card-title"> Add<br> Doors </h5>
								<p class="db-welcome card-text">
								Doors are the logic backbone of your game. For each door, set the requirement and connect it with its previous level and next level.
								</p>
							</div>
						</div>
						</a>
					</div>

					<div class='db-welcome-col'>
						<a href="#section5">
						<div class="db-welcome card shadow-lg rounded">
							<%= image_tag("five.png", :height =>"180", :width => "200") %>
							<div class="db-welcome card-body">
								<h5 class="db-welcome card-title"> Designate Start </h5>
								<p class="db-welcome card-text">
								Select a starting level for you game from your existing levels. Your game is ready to play!
								</p>
							</div>
						</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section id='section2'>
			<div class='sectionhead'>
				<h1>Level Creation</h1>
			</div>
			<div class='db-row-list'>
				<%= link_to(image_tag("plussign.png", :height =>"90", :width => "90", :class=>"cancelhover"), addlevel_path(@game_id))%>
				<% levels = Level.where(game_id: @game_id) %>
				<% levels.each do |level| %>
					<% if (level.level_image.attached?) %>
						<%= link_to image_tag(level.level_image, :height =>"90", :width => "90"), editlevel_path(@game_id, level.id)  %>
					<% else %>
						<%= link_to level.name, editlevel_path(@game_id, level.id) %>
					<% end %>
				<% end %>
			</div>
		</section>

		<section id='section3'>
			<h1>Event Creation</h1>
			<div class='db-row-list'>
				<%= link_to(image_tag("plussign.png", :height =>"90", :width => "90"), addevent_path(@game_id)) %>
				<% events = Event.where(game_id: @game_id) %>
				<% events.each do |event| %>
					<% if (event.event_image.attached?) %>
						<%= link_to image_tag(event.event_image, :height =>"90", :width => "90"), editevent_url(@game_id, event.id)  %>
					<% else %>
						<%=  link_to event.name, editevent_url(@game_id, event.id) %>
					<% end %>
				<% end %>
			</div>
		</section>

		<section id='section4'>
			<h1> Event Assignment</h1>
			<div class='db-assign-container'>
				<% @unassigned_levels = Level.where(game_id: @game_id, event_id: [nil, "[]", ""]) %>
				<% @assigned_levels = Level.where(game_id: @game_id).where.not(event_id: [nil, "[]", ""])%>

				<div class='db-assign-col'>
				<h4>Levels Assigned</h4>
				<% @assigned_levels.each do |level| %>
					<% if (level.level_image.attached?) %>
						<%= link_to image_tag(level.level_image, :height =>"90", :width => "90"), assigneventforone_path(@game_id, level.id)  %>
					<% else %>
						<%= link_to level.name, assigneventforone_path(@game_id, level.id) %>
					<% end %>
				<% end %>
				</div>

				<div class='db-assign-col'>
				<h4>Levels Unassigned</h4>
				<% @unassigned_levels.each do |level| %>
					<% if (level.level_image.attached?) %>
						<%= link_to image_tag(level.level_image, :height =>"90", :width => "90"), assigneventforone_path(@game_id, level.id)  %>
					<% else %>
						<%= link_to level.name, assigneventforone_path(@game_id, level.id) %>
					<% end %>
				<% end %>
				</div>
			</div>
		</section>

		<section id='section5'>
			<h1>Door Creation</h1>
			<div class='db-row-list'>
				<%= link_to(image_tag("plussign.png", :height =>"90", :width => "90"), adddoor_path(@game_id)) %>
				<% doors = Door.where(game_id: @game_id) %>
				<% doors.each do |door| %>
					<% if (door.door_image.attached?) %>
						<%= link_to image_tag(door.door_image, :height =>"90", :width => "90"), editdoor_url(@game_id, door.id)  %>
				<% else %>
						<%= link_to door.name, editdoor_url(@game_id, door.id) %>
					<% end %>
				<% end %>
			</div>
		</section>

		<section id='section6'>
			<h1>Start Designation</h1>
			<div class='db-row-list'>
				<%= link_to(image_tag("plussign.png", :height =>"90", :width => "90"), designatestart_path(@game_id)) %>
				<% @game = Game.find_by(id: @game_id) %>
				<% @start_level = Level.find_by(id: @game.start_level_id) %>
				<% if(!@start_level.nil?) %>
					<% if(@start_level.level_image.attached?) %>
						<%= image_tag(@start_level.level_image, :height =>"90", :width => "90") %>
					<% end %>
				<% end %>
			</div>
		</section>

		<section id='section7'>
			<%= link_to "Review game", review_path(@game_id), class: "btn-finishgame" %>
		</section>

	</div>
<body>