<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @level.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @level.list_of_event_ids %>
</p>

<p>
  <strong>Game:</strong>
  <%= @level.game_id %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @level.doors %>
</p>

<p>
  <strong>Description:</strong>
  <%= @level.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @level.image %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
