<%= stylesheet_link_tag 'createhero' %>
<%= stylesheet_link_tag 'heroes' %>

<%= form_with(model: hero, local: true) do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
        <% hero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :gamestate_id, :value => params[:gamestate_id] %>

  <div class="field">
    <%= form.label :name, class: 'hero-form-control-label' %>
    <%= form.text_field :name,class: 'hero-form-control-field' %>
  </div>


  <div class="field">
          <%= form.label :hero_image %>
          <%= form.file_field :hero_image , class: "hero_custom-file-input" %>
  </div>

  <div>
    <%= form.submit "Create Hero", class: "btn-createhero" %>
  </div>
<% end %>
