<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @hero.exp %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @hero.hp %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @hero.gold %>
</p>

<p>
  <strong>Image:</strong>
  <%= @hero.image %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heroes_path %>
