<%= stylesheet_link_tag 'header' %>

<head>
    <nav class="navbar navbar-expand-lg fixed-top justify-content-center" style="margin-top: -80px;">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="navbar-brand">
            <%= link_to(image_tag("logo.jpg", :height =>"47", :width => "70"), root_path) %>
            </li>
            <li class="nav-item">
            <%= link_to "Game Center", allgames_path %>
            </li>
            <li class="nav-item">
            <%= link_to "Create New Game", creategame_path %>
            </li>
            <li class="nav-item">
                <%= link_to "Discussion", discussion_path %>
            </li>
            <li class="nav-item">
            <!-- User Activity Function-->
            <% if !logged_in? %>
            <%= link_to "Log in", login_path  %>
            <% else %>
            <%= link_to "Log out", logout_path, method: :delete %>
            <% end %>
            </li>
        </ul>
    </nav>
</head>