<%= stylesheet_link_tag 'header' %>
    <header>
        <!-- Links -->
            <div class="navbar-brand">
            <%= link_to(image_tag("logo.jpg"), root_path) %>
            </div>
            <div class="nav-item">
            <%= link_to "Game Center", allgames_path, :class=>'navbar-nav' %>
            </div>
            <% if logged_in? %>
            <div class="nav-item">
            <%= link_to "Create Game", creategame_path, :class=>'navbar-nav' %>
            </div>
            <div class="nav-item">
                <%= link_to "Discussion", discussion_path, :class=>'navbar-nav' %>
            </div>
            <%end%>
            <div class="nav-item <% if logged_in? %>log<%end%>" style="float: right;">
            <!-- User Activity Function-->
            <% if !logged_in? %>
            <%= link_to "Log in", login_path, :class=>'navbar-nav'  %>
            <% else %>
            <%= link_to "Log out", logout_path, :class=>'navbar-nav', method: :delete %>
            <% end %>
            </div>
    </header>