<%= stylesheet_link_tag 'header' %>

<nav class="head-navbar">
    <ul class = "navbar-center ml-auto">
        <li onclick="setTimeout(function(){window.location.reload(false);},50)"><%= link_to(image_tag("logo.jpg", :height =>"47", :width => "70"), root_path) %></li>
        <li><%= link_to "Game Center", allgames_path, :class=>'navbar-nav' %></li>

        <% if logged_in? %>
            <li>
            <span class="glyphicon glyphicon-tower"></span>
            <%= link_to "Game Center", allgames_path, :class=>'navbar-nav' %>
            </li>
            <li>
            <span class="glyphicon glyphicon-wrench"></span> 
            <%= link_to "Create New Game", creategame_path, :class=>'navbar-nav' %>
            </li>
            <li>
            <span class="glyphicon glyphicon-education"></span> 
            <%= link_to "Discussion", discussion_path, :class=>'navbar-nav' %>
            </li>
        <%end%>
    </ul>

    <ul class = "navbar-right ml-auto">
        <li>
        <span class="glyphicon glyphicon-log-in"></span> 
        <!-- User Activity Function-->
        <% if !logged_in? %>
            <%= link_to "Log in", login_path  %>
        <% else %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% end %>
        </li>
    </ul>
</nav>
